@font-face {
  font-family: "syne";
  src: url("/fonts/syne.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "syne", sans-serif;
}
body {
  background-color: var(--background);
  color: var(--on-background);
}
html,
.default {
  --background: #fcfcfc;
  --on-background: #1d1d1d;
  --primary: #6b6b6b;
  --on-primary: white;
  --secondary: #646464;
  --on-secondary: white;
  --surface--highest: #e6e6e6;
  --surface--high: #ebebeb;
  --surface: #f1f1f1;
  --surface--low: #f7f7f7;
  --on-surface: #1d1d1d;
  --normal: 255, 255, 255;
  --inverse: 0, 0, 0;
}
.green {
  --background: #f7fbf2;
  --on-background: #181d17;
  --primary: #39693b;
  --on-primary: white;
  --secondary: #526350;
  --on-secondary: white;
  --surface--highest: #e0e4db;
  --surface--high: #e6e9e1;
  --surface: #ebefe6;
  --surface--low: #f1f5ec;
  --on-surface: #181d17;
  --normal: 255, 255, 255;
  --inverse: 0, 0, 0;
}
.blue {
  --background: #faf9ff;
  --on-background: #e2e2e9;
  --primary: white;
  --on-primary: var(--background);
  --secondary: #575e71;
  --on-secondary: white;
  --surface--highest: #e2e2e9;
  --surface--high: #e8e7ef;
  --surface: #eeedf4;
  --surface--low: #f3f3fa;
  --on-surface: #1a1b20;
  --normal: 255, 255, 255;
  --inverse: 0, 0, 0;
}

.dark,
.dark.default,
.dark .default {
  --background: #151515;
  --on-background: #e6e6e6;
  --primary: #d7d7d7;
  --on-primary: #393939;
  --secondary: #cdcdcd;
  --on-secondary: #353535;
  --surface--highest: #373737;
  --surface--high: #2c2c2c;
  --surface: #222222;
  --surface--low: #1d1d1d;
  --on-surface: #e6e6e6;
  --normal: 0, 0, 0;
  --inverse: 255, 255, 255;
}
.dark .green,
.dark.green {
  --background: #10140f;
  --on-background: #e0e4db;
  --primary: #9fd49c;
  --on-primary: #053911;
  --secondary: #b9ccb4;
  --on-secondary: #243424;
  --surface--highest: #313630;
  --surface--high: #272b26;
  --surface: #1c211b;
  --surface--low: #181d17;
  --on-surface: #e0e4db;
  --normal: 0, 0, 0;
  --inverse: 255, 255, 255;
}
.dark .blue,
.dark.blue {
  --background: #121318;
  --on-background: #e2e2e9;
  --primary: white;
  --on-primary: #122f60;
  --secondary: #bfc6dc;
  --on-secondary: #293041;
  --surface--highest: #33353a;
  --surface--high: #282a2f;
  --surface: #1e1f25;
  --surface--low: #1a1b20;
  --on-surface: #e2e2e9;
  --normal: 0, 0, 0;
  --inverse: 255, 255, 255;
}

.background {
  background: radial-gradient(
      rgba(100, 120, 150, 0.7),
      rgba(100, 120, 150, 0.7)
    ),
    url("/collage.webp") no-repeat 0% 0%;
  object-fit: contain;
  background-size: cover, cover;
}
