---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex size-full flex-col items-center justify-center gap-4">
    <h1 class="text-2xl font-bold md:text-4xl">404</h1>
    <p>This page wasn't found</p>
    <a href="/" class="text-[skyblue] underline">⬅ Take me home</a>
  </div>
</Layout>
