---
import Tag from '../components/Tag.astro';
import { WEB_TAGS_LIST } from '../consts';
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <ul class="flex gap-2">
    {
      WEB_TAGS_LIST.map((tag) => (
        <li>
          <a href={`tag/${tag}`}>
            <Tag>{tag}</Tag>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>