---
import { LINKS } from "../consts";
import Breadcrumbs from "./Breadcrumbs.astro";

interface Props {
  variant?: "sticky" | "normal";
}
const { variant = "normal" } = Astro.props;

const variants = {
  normal: "flex lg:hidden",
  sticky: "sticky top-36 hidden lg:flex text-center text-primary",
};

const currentPath = Astro.url.pathname.split("/")[1];
---

<nav class:list={["size-fit flex-col items-center gap-4", variants[variant]]}>
  {
    LINKS.map((link) => (
      <a
        title={link.title ?? link.name}
        href={`/${link.href ?? link.name}`}
        class:list={[
          (link.href ?? link.name) === currentPath
            ? "bg-secondary !text-onSecondary"
            : "hover:bg-surface hover:text-onSurface",
          "flex w-full items-center justify-center gap-2 whitespace-nowrap rounded-full px-4 py-3 text-base capitalize transition-colors",
        ]}
      >
        <svg
          width="16"
          height="16"
          viewBox={link.viewBox ?? "0 0 17 16"}
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d={link.path} />
        </svg>
        {link.name}
      </a>
    ))
  }
  <Breadcrumbs />
</nav>
