---
import { links } from "../consts"
const currentPath = Astro.url.pathname.split("/")[1];
---
<nav class="flex items-center xl:hidden min-w-full text-sm bg-surface text-onSurface fixed bottom-0 left-0 z-10 capitalize">
  {
    links.map((link) => (
      <a
        title={link.title}
        href={link.href ?? `/${link.name}`}
        class="w-[33%] flex justify-center pt-3 pb-4 gap-1 flex-col items-center"
      >
        <div class:list={[(link.href ? (link.href === "/" ? "" : link.href.replace("/", "")) : link.name) === currentPath && "bg-secondary text-onSecondary", "rounded-full px-6 py-1"]}>
          <svg width="24" height={link.height ?? "24"} viewBox={link.viewbox ?? "0 0 16 16"} fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d={link.path} />
          </svg>
        </div>
        {link.name.replace("-", " ")}
      </a>
    ))
  }
</nav>