---
import { links } from "../consts";
import Breadcrumbs from "./Breadcrumbs.astro";
const currentPath = Astro.url.pathname.split("/")[1];
---
<nav class="sticky top-[calc(4rem+1rem+4rem)] h-fit w-fit hidden md:flex flex-col gap-4 items-center">
  {
    links.map((link) => (
      <a
        title={link.title ?? link.name}
        href={link.href ?? `/${link.name}`}
        class:list={[(link.href ? (link.href === "/" ? "" : link.href.replace("/", "")) : link.name) === currentPath ? "bg-secondary !text-onSecondary" : "hover:bg-surface", "transition-all whitespace-nowrap gap-2 text-center text-primary capitalize flex items-center justify-center w-[calc(100%+2rem)] rounded-full py-3 text-base"]}
      >
        <svg width="16" height="16" viewBox={link.viewBox ?? "0 0 17 16"} fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d={link.path} />
        </svg>
        {link.name}
      </a>
    ))
  }
  <Breadcrumbs />
</nav>