---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
import Tag from './Tag.astro';

type Props = CollectionEntry<'blog'>['data'] & {displayType?: "full" | "preview" };

const { title, pubDate, updatedDate, tags, displayType = "full" } = Astro.props;
---
{
	displayType === "full" &&
		<ul class="flex gap-2">
			{
				tags.map((tag: string) => (
					<li>
						<Tag>{tag}</Tag>
					</li>
				))
			}
		</ul>
}
<article class:list={[displayType === "preview" ? "hover:brightness-125 transition-[filter] gap-2" : "gap-8", "bg-surface rounded-2xl px-16 py-8 w-full flex flex-col relative"]}>
	<header>
		<h2 class="text-inverse text-4xl">{title}</h2>
		<FormattedDate date={pubDate} />
		{
			updatedDate && (
				<div>
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)
		}
	</header>
	<div class="prose dark:prose-invert prose-headings:my-6">
		<slot />
	</div>
</article>