---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'] & {type?: string };

const { title, pubDate, updatedDate, type = "full" } = Astro.props;
---
<article class:list={[type !== "full" && "hover:brightness-125 transition-[filter]", "bg-surface rounded-2xl px-16 py-8 w-full flex flex-col gap-8 relative"]}>
	<header>
		<h2 class="text-white text-4xl">{title}</h2>
		<FormattedDate date={pubDate} />
		{
			updatedDate && (
				<div>
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)
		}
	</header>
	{
		type === "full" && (
		<div class="prose prose-invert prose-headings:my-6">
			<slot />
		</div>
		)
	}
</article>