---
const links = [
  {
    name: "all",
    title: "all blogs",
    href: "/",
  },
  {
    name: "web",
    title: "blogs about the web",
  },
  {
    name: "life",
    title: "blogs about my life",
  },
];
const currentPath = Astro.url.pathname.split("/")[1];
console.log(currentPath)
---
<nav class="flex flex-col gap-4 text-2xl items-center max-w-fit text-primary">
  {
    links.map((link) => (
      <a
        title={link.title}
        href={link.href ? link.href : `/${link.name}`}
        class:list={[((link.href && "") ?? link.name) === currentPath && "active", "capitalize mx-8 h-10 flex items-center justify-center min-w-full rounded-full text-xl"]}
      >
        {link.name}
      </a>
    ))
  }
</nav>
<style>
  .active {
    @apply bg-primary text-onPrimary
  }
</style>