---
import { filterAndFormatPaths } from "../paths";

const paths = Astro.url.pathname.split("/");
const filteredAndFormattedPaths = filterAndFormatPaths(paths);
---

{
  filteredAndFormattedPaths.length > 1 && (
    <ul class="flex gap-1 whitespace-nowrap text-sm opacity-80">
      {filteredAndFormattedPaths.map((path) => (
        <li class="[&>span]:last:hidden">
          <a class="underline" href={path.URL}>
            {path.name}
          </a>
          <span class="ml-1">/</span>
        </li>
      ))}
    </ul>
  )
}
