---
import { filterAndFormatPaths } from "../paths";

const paths = Astro.url.pathname.split("/");
const filteredAndFormattedPaths = filterAndFormatPaths(paths);
---

{
  filteredAndFormattedPaths.length > 1 && (
    <ul class="whitespace-nowrap text-sm opacity-80">
      <li class="group flex gap-1">
        {filteredAndFormattedPaths.map((path) => {
          return (
            path && (
              <>
                <a class="underline" href={path.URL}>
                  {path.name}
                </a>
                <span class="last-of-type:hidden">/</span>
              </>
            )
          );
        })}
      </li>
    </ul>
  )
}
