---
import Tag from "./ui/Tag.astro";
import { countTagsWithAuthor } from "../utils";

interface Props {
  author?: string;
  activeTagID?: string;
}

const { author, activeTagID } = Astro.props;
const countedTags = countTagsWithAuthor(author);
---

{
  countedTags.length !== 0 && (
    <ul class="flex flex-wrap gap-2">
      {countedTags.map((tag) => (
        <li>
          <a href={`/mad-writings/${tag.id}/`} transition:name={tag.id}>
            {
              <Tag active={activeTagID === tag.id}>
                {tag.name}
                <span class="opacity-50">&nbsp;{tag.count}</span>
              </Tag>
            }
          </a>
        </li>
      ))}
    </ul>
  )
}
