---
import { getAllPostsSorted } from "../utils";
import Menu from "./Menu.astro";
import Search from "./Search";

const posts = await getAllPostsSorted();
---

<header class="sticky top-4 z-10 flex items-center justify-between">
  <a href="/">
    <span class="sr-only">Go to the home page</span>
    <img src="/logo.svg" width="64" height="64" alt="logo" />
  </a>
  <Search client:load searchList={posts} />
  <Menu />
</header>
