<header class="flex justify-between items-center">
	<a href="/#">
		<span class="sr-only">Go to the home page</span>
		<svg aria-hidden="true" class="text-primary" fill="currentColor" width="48" height="36" viewBox="0 0 48 36" xmlns="http://www.w3.org/2000/svg">
			<path d="M13.0657 20.9757C16.1138 25.3323 24.0184 25.9901 28.145 23.5649C32.2193 21.1705 35.6339 15.5175 35.6339 15.5175C53.6033 41.2005 8.57137 36.5031 0 33.8588L13.0657 20.9757Z" />
			<path d="M48.0002 1.95123C39.429 -0.693071 -4.90335 -4.70728 13.0657 20.9757C13.0657 20.9757 17.1559 16.726 21.2301 14.3316C26.7513 11.0869 32.0928 10.4562 35.6339 15.5175L48.0002 1.95123Z" />
		</svg>
	</a>
	<div class="relative">
		<svg class="text-onSurface opacity-50 absolute h-full left-8" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path d="M17.5878 19.2272L11.246 12.8853C10.75 13.2694 10.1779 13.5741 9.52993 13.7995C8.88193 14.0248 8.18927 14.1375 7.45195 14.1375C5.59942 14.1375 4.03004 13.4944 2.7438 12.2082C1.45757 10.9219 0.814453 9.35254 0.814453 7.5C0.814453 5.64747 1.45757 4.07809 2.7438 2.79185C4.03004 1.50562 5.59942 0.862503 7.45195 0.862503C9.30449 0.862503 10.8739 1.50562 12.1601 2.79185C13.4463 4.07809 14.0895 5.64747 14.0895 7.5C14.0895 8.2413 13.9768 8.93397 13.7514 9.578C13.5261 10.222 13.2213 10.79 12.8373 11.2821L19.1851 17.6359L17.5878 19.2272ZM7.45195 11.8625C8.66609 11.8625 9.6967 11.439 10.5438 10.5919C11.3909 9.74475 11.8145 8.71414 11.8145 7.5C11.8145 6.28587 11.3909 5.25525 10.5438 4.40815C9.6967 3.56105 8.66609 3.1375 7.45195 3.1375C6.23782 3.1375 5.2072 3.56105 4.3601 4.40815C3.513 5.25525 3.08945 6.28587 3.08945 7.5C3.08945 8.71414 3.513 9.74475 4.3601 10.5919C5.2072 11.439 6.23782 11.8625 7.45195 11.8625Z" />
		</svg>
		<input
			placeholder="Search"
			name="page-search"
			type="search"
			class="pl-16 py-3 rounded-full text-onSurface bg-surface-low max-w-36 box-content text-xl"
		/>
	</div>
	<nav class="flex gap-4 items-center">
		<a
			href="https://github.com/Sinskiy/"
			target="_blank"
		>
			<span class="sr-only">Go to my GitHub</span>
			<svg class="text-white opacity-50 hover:opacity-100 transition-opacity" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M16 0C7.16 0 0 7.3411 0 16.4047C0 23.6638 4.58 29.795 10.94 31.9687C11.74 32.1122 12.04 31.6201 12.04 31.1894C12.04 30.7998 12.02 29.508 12.02 28.1341C8 28.8928 6.96 27.1293 6.64 26.2065C6.46 25.7349 5.68 24.279 5 23.8893C4.44 23.5818 3.64 22.823 4.98 22.8025C6.24 22.782 7.14 23.9919 7.44 24.484C8.88 26.9652 11.18 26.268 12.1 25.8374C12.24 24.7711 12.66 24.0534 13.12 23.6433C9.56 23.2332 5.84 21.8183 5.84 15.5435C5.84 13.7594 6.46 12.283 7.48 11.1347C7.32 10.7246 6.76 9.04309 7.64 6.78745C7.64 6.78745 8.98 6.35682 12.04 8.46893C13.32 8.09982 14.68 7.91527 16.04 7.91527C17.4 7.91527 18.76 8.09982 20.04 8.46893C23.1 6.33632 24.44 6.78745 24.44 6.78745C25.32 9.04309 24.76 10.7246 24.6 11.1347C25.62 12.283 26.24 13.7389 26.24 15.5435C26.24 21.8388 22.5 23.2332 18.94 23.6433C19.52 24.1559 20.02 25.1402 20.02 26.6781C20.02 28.8723 20 30.6358 20 31.1894C20 31.6201 20.3 32.1327 21.1 31.9687C27.42 29.795 32 23.6433 32 16.4047C32 7.3411 24.84 0 16 0Z"/>
			</svg>
		</a>
		 <div class="relative">
			<span class="sr-only">Toggle theme</span>
			<input
				name="theme-toggler"
				id="theme-toggler"
				type="checkbox"
				class="absolute h-full w-full opacity-0"
			/>
			{true &&
				<svg id="theme-icon" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path d="M16 28C12.6667 28 9.83333 26.8333 7.5 24.5C5.16667 22.1667 4 19.3333 4 16C4 12.6667 5.16667 9.83333 7.5 7.5C9.83333 5.16667 12.6667 4 16 4C16.3111 4 16.6167 4.01111 16.9167 4.03333C17.2167 4.05556 17.5111 4.08889 17.8 4.13333C16.8889 4.77778 16.1611 5.61667 15.6167 6.65C15.0722 7.68333 14.8 8.8 14.8 10C14.8 12 15.5 13.7 16.9 15.1C18.3 16.5 20 17.2 22 17.2C23.2222 17.2 24.3444 16.9278 25.3667 16.3833C26.3889 15.8389 27.2222 15.1111 27.8667 14.2C27.9111 14.4889 27.9444 14.7833 27.9667 15.0833C27.9889 15.3833 28 15.6889 28 16C28 19.3333 26.8333 22.1667 24.5 24.5C22.1667 26.8333 19.3333 28 16 28ZM16 25.3333C17.9556 25.3333 19.7111 24.7944 21.2667 23.7167C22.8222 22.6389 23.9556 21.2333 24.6667 19.5C24.2222 19.6111 23.7778 19.7 23.3333 19.7667C22.8889 19.8333 22.4444 19.8667 22 19.8667C19.2667 19.8667 16.9389 18.9056 15.0167 16.9833C13.0944 15.0611 12.1333 12.7333 12.1333 10C12.1333 9.55556 12.1667 9.11111 12.2333 8.66667C12.3 8.22222 12.3889 7.77778 12.5 7.33333C10.7667 8.04444 9.36111 9.17778 8.28333 10.7333C7.20556 12.2889 6.66667 14.0444 6.66667 16C6.66667 18.5778 7.57778 20.7778 9.4 22.6C11.2222 24.4222 13.4222 25.3333 16 25.3333Z" fill="#8C9388"/>
				</svg>
			}
		</div>
	</nav>
</header>
<script>
	const themeToggler = document.querySelector("#theme-toggler");
	const themeIconPath = document.querySelector("#theme-icon>path");
	const lightD = "M16.0008 19.6333C17.0103 19.6333 17.8681 19.28 18.5742 18.5733C19.2802 17.8667 19.6332 17.0086 19.6332 15.9991C19.6332 14.9896 19.2799 14.1318 18.5732 13.4257C17.8666 12.7197 17.0085 12.3667 15.999 12.3667C14.9895 12.3667 14.1317 12.72 13.4256 13.4267C12.7196 14.1333 12.3666 14.9914 12.3666 16.0009C12.3666 17.0104 12.7199 17.8682 13.4266 18.5743C14.1332 19.2803 14.9913 19.6333 16.0008 19.6333ZM15.9999 22.6667C14.1555 22.6667 12.5832 22.0167 11.2832 20.7167C9.98324 19.4167 9.33324 17.8444 9.33324 16C9.33324 14.1556 9.98324 12.5833 11.2832 11.2833C12.5832 9.98333 14.1555 9.33333 15.9999 9.33333C17.8443 9.33333 19.4166 9.98333 20.7166 11.2833C22.0166 12.5833 22.6666 14.1556 22.6666 16C22.6666 17.8444 22.0166 19.4167 20.7166 20.7167C19.4166 22.0167 17.8443 22.6667 15.9999 22.6667ZM6.8499 17.5167H1.1499V14.4833H6.8499V17.5167ZM30.8499 17.5167H25.1499V14.4833H30.8499V17.5167ZM14.4832 6.85V1.15H17.5166V6.85H14.4832ZM14.4832 30.85V25.15H17.5166V30.85H14.4832ZM8.52527 10.6044L4.9115 7.11594L7.0586 4.87827L10.5296 8.45073L8.52527 10.6044ZM24.9412 27.1217L21.4369 23.5159L23.4666 21.4116L27.0883 24.8841L24.9412 27.1217ZM21.4115 8.53333L24.884 4.9116L27.1216 7.0587L23.5492 10.5297L21.4115 8.53333ZM4.87817 24.9413L8.48397 21.437L10.5883 23.4667L7.11584 27.0884L4.87817 24.9413Z";
	const darkD = "M16 28C12.6667 28 9.83333 26.8333 7.5 24.5C5.16667 22.1667 4 19.3333 4 16C4 12.6667 5.16667 9.83333 7.5 7.5C9.83333 5.16667 12.6667 4 16 4C16.3111 4 16.6167 4.01111 16.9167 4.03333C17.2167 4.05556 17.5111 4.08889 17.8 4.13333C16.8889 4.77778 16.1611 5.61667 15.6167 6.65C15.0722 7.68333 14.8 8.8 14.8 10C14.8 12 15.5 13.7 16.9 15.1C18.3 16.5 20 17.2 22 17.2C23.2222 17.2 24.3444 16.9278 25.3667 16.3833C26.3889 15.8389 27.2222 15.1111 27.8667 14.2C27.9111 14.4889 27.9444 14.7833 27.9667 15.0833C27.9889 15.3833 28 15.6889 28 16C28 19.3333 26.8333 22.1667 24.5 24.5C22.1667 26.8333 19.3333 28 16 28ZM16 25.3333C17.9556 25.3333 19.7111 24.7944 21.2667 23.7167C22.8222 22.6389 23.9556 21.2333 24.6667 19.5C24.2222 19.6111 23.7778 19.7 23.3333 19.7667C22.8889 19.8333 22.4444 19.8667 22 19.8667C19.2667 19.8667 16.9389 18.9056 15.0167 16.9833C13.0944 15.0611 12.1333 12.7333 12.1333 10C12.1333 9.55556 12.1667 9.11111 12.2333 8.66667C12.3 8.22222 12.3889 7.77778 12.5 7.33333C10.7667 8.04444 9.36111 9.17778 8.28333 10.7333C7.20556 12.2889 6.66667 14.0444 6.66667 16C6.66667 18.5778 7.57778 20.7778 9.4 22.6C11.2222 24.4222 13.4222 25.3333 16 25.3333Z";

	function toggleTheme(darkMode: boolean) {
		if (darkMode) {
			document.body.classList.add("dark");
			themeIconPath?.setAttribute("d", lightD)
		}
		else {
			document.body.classList.remove("dark");
			themeIconPath?.setAttribute("d", darkD)
		}
	}

	function onThemeClick(event: Event) {
		const target = event.target as HTMLInputElement;
		toggleTheme(target.checked);
	}

	themeToggler?.addEventListener("click", onThemeClick)
</script>