---
import { LANGUAGES } from "../consts";
import LanguagesIcon from "./icons/LanguagesIcon.astro";
---

<div class="relative text-onSurface" transition:persist>
  <div class="absolute left-4 top-2 opacity-50" aria-hidden="true">
    <LanguagesIcon />
  </div>
  <label for="language" class="sr-only">select languages</label>
  <select name="language" id="language" class="rounded-md bg-surface p-2 pl-8">
    <option value=" ">all</option>
    {
      LANGUAGES.map((language) => (
        <option value={language.href ?? language.name}>{language.name}</option>
      ))
    }
  </select>
</div>
<script>
  import { LANGUAGES } from "../consts";

  function handleLanguageSelect() {
    window.location.href = `/${languageSelector?.value}`;
  }

  function selectLanguageByURL() {
    const maybeLanguage = window.location.href.split("/").at(-1);
    if (languageSelector?.value && maybeLanguage && isLanguage(maybeLanguage)) {
      languageSelector.value = maybeLanguage;
    }
  }

  function isLanguage(maybeLanguage: string): boolean {
    return !!LANGUAGES.find((language) => language.name === maybeLanguage);
  }

  const languageSelector =
    document.querySelector<HTMLSelectElement>("#language");
  languageSelector?.addEventListener("change", handleLanguageSelect);

  window.addEventListener("load", selectLanguageByURL);
</script>
