---
import Language from "./Language.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import RSSIcon from "./icons/RSSIcon.astro";
---

<nav class="hidden items-center gap-4 lg:flex">
  <Language />
  <a href="/rss.xml" target="_blank" class="icon">
    <span class="sr-only">Go to the rss page</span>
    <RSSIcon />
  </a>
  <a href="https://github.com/Sinskiy/" target="_blank" class="icon">
    <span class="sr-only">Go to blog's Github page</span>
    <GitHubIcon />
  </a>
</nav>
