---
import AuthorsNav from "./AuthorsNav.astro";
import Language from "./Language.astro";
import Theme from "./Theme.astro";
import CloseIcon from "./icons/CloseIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import HamburgerIcon from "./icons/HamburgerIcon.astro";
import RSSIcon from "./icons/RSSIcon.astro";
---

<div class="peer relative z-20 has-[:checked]:text-onSurface lg:hidden">
  <label for="hamburger" class="sr-only">open menu</label>
  <input
    type="checkbox"
    name="hamburger"
    id="hamburger"
    class="peer absolute z-30 size-full opacity-0"
  />
  <HamburgerIcon />
  <CloseIcon />
</div>
<nav
  class="z-10 flex rounded-l-3xl transition-transform max-lg:fixed max-lg:bottom-0 max-lg:right-0 max-lg:top-0 max-lg:translate-x-full max-lg:flex-col max-lg:overflow-y-scroll max-lg:bg-surface max-lg:px-8 max-lg:py-9 max-lg:pl-16 max-lg:text-onSurface max-lg:peer-has-[:checked]:translate-x-0 max-lg:peer-has-[:checked]:shadow-2xl"
>
  <!-- imitate hamburger icon inside the menu -->
  <div aria-hidden="true" class="max-lg:size-6"></div>
  <div class="flex h-full flex-col justify-between max-lg:mt-12">
    <AuthorsNav />
    <div class="flex items-center gap-4 max-lg:flex-col max-lg:gap-8">
      <Language />
      <a href="/rss.xml" class="icon-activatable flex items-center gap-2">
        <RSSIcon />
        <span class="lg:sr-only">RSS</span>
      </a>
      <a
        href="https://github.com/Sinskiy/"
        class="icon-activatable flex items-center gap-2"
      >
        <GitHubIcon />
        <span class="lg:sr-only">Github</span>
      </a>
      <Theme />
    </div>
  </div>
</nav>
