---
const { active, activatable = true } = Astro.props;
---
<div class:list={[active ? "bg-secondary text-onSecondary" : "bg-surface-high text-onSurface", activatable && !active && "hover:bg-surface transition-colors", "px-4 py-1 rounded-[4px]"]}>
  <slot />
</div>