---
const { active } = Astro.props;
---

<div
  class:list={[
    active ? "bg-secondary text-onSecondary" : "bg-surface-high text-onSurface",
    !active && "transition-colors hover:bg-surface",
    "rounded-[4px] px-4 py-1",
  ]}
>
  <slot />
</div>
