---
import Tag from "./Tag.astro";
import { countTags } from "../utils";
import { CATEGORIES } from "../consts";

interface Props {
  tags?: string[];
  activeTagID?: string;
}

const { tags = CATEGORIES, activeTagID } = Astro.props;
const countedTags = await countTags(tags);
---

{
  countedTags.length !== 0 && (
    <ul class="flex flex-wrap gap-2">
      {countedTags.map((tag) => (
        <li>
          <a href={`/mad-writings/${tag.id}/`}>
            {
              <Tag active={activeTagID === tag.id}>
                {tag.name}
                <span class="opacity-50">&nbsp;{tag.count}</span>
              </Tag>
            }
          </a>
        </li>
      ))}
    </ul>
  )
}
