---
import '../styles/global.css';
import Header from "../components/Header.astro";
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
  </head>
  <body class="background flex flex-col my-8 mx-[30%] gap-16">
    <Header />
    <div class="flex gap-16">
      <!-- <Nav /> -->
      <main class="w-full">
        <slot />
      </main>
    </div>
  </body>
</html>