---
import "../styles/global.css";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import AuthorsNav from "../components/AuthorsNav.astro";

interface Props {
  bodyClass?: string;
}

const { bodyClass } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class:list={[bodyClass, "m-4 xl:mx-[20%]"]} transition:animate="none">
    <Header />
    <div class="mt-16 flex gap-16">
      <AuthorsNav />
      <main class="w-full" transition:animate="fade">
        <slot />
      </main>
    </div>
  </body>
</html>
